
<div class="home-bg">
  <div class="navbar">
    <app-navbar></app-navbar>
    <app-user-perfil></app-user-perfil>
  </div>
  <br>
  
  <div>
    <app-search (searchEvent)="performSearch($event)"></app-search>
  </div>
  <br>
  
<div class="campeonato-grid">
  <div class="campeonato-card" *ngFor="let campeonato of competicoes">
    <div class="campeonato-detalhe">
      <div class="campeonatos-name">{{campeonato.nome }}</div>
      
    </div>
  </div>
</div>

<div class="button-container">
  <button class="cadastrar-btn"> <a href="http://localhost:4200/campeonato">Cadastrar Competição</a> </button>
</div>
</div>
