<div class="profile-bg">
 </div>
<div class="profile-card">
  <div class="profile-buttons">
    <img width="90px" src="/assets/img/user (1).png" alt="img perfil">
    <app-user-perfil></app-user-perfil>
    <button><a href="http://localhost:4200/editar-perfil">Editar perfil</a></button>
    <button><a href="http://localhost:4200/home">Meus Campeonatos</a></button>
    <button><a href="http://localhost:4200/excluir-conta">Excluir Conta</a></button>
    <button (click)="limparLocalStorage()">Sair</button>
  </div>
</div>
  


