
<div class="inserir-time-bg">
    <div>
        <app-navbar></app-navbar>
    </div>
        <h2>Clique na <span>barra de pesquisa</span>  para procurar por times já cadastrados ou nos   ícones abaixo para <span>cadastrar os times de futebol</span> e os <span>jogadores</span> que participarão do campeonato.</h2>
    <div>
        <app-search></app-search>
    </div>
    
    <div class="time-conteiner">
        <a href="http://localhost:4200/times" class="time-link">TIME</a>
        <a href="http://localhost:4200/times" class="time-link">TIME</a>
        <a href="http://localhost:4200/times" class="time-link">TIME</a>
        <a href="http://localhost:4200/times" class="time-link">TIME</a>
        <a href="http://localhost:4200/times" class="time-link" >TIME</a>
        <a href="http://localhost:4200/times" class="time-link">TIME</a>   
        <a href="http://localhost:4200/times" class="time-link">TIME</a>
        <a href="http://localhost:4200/times" class="time-link">TIME</a>
        
    </div>

    <button>Concluir</button>
</div>