  <nav class="navbar"> 
     <a href="/home"><img width="270px" src="/assets/img/Winner-league-logoo.png" alt="ata"></a>
      <ul class="nav-list">
        <li class="nav-item"><span><app-user-perfil></app-user-perfil></span></li>
        <li class="nav-item"><a href="http://localhost:4200/profile">Perfil</a></li>
        <li class="nav-item"><a href="http://localhost:4200/home">Meus Campeonatos</a></li>
        <li class="nav-item"><a href="http://localhost:4200/Sobre-nos">Sobre nós</a></li>
        
      </ul>
    </nav>

